header{
  width: 100%;
  margin: 0 auto;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 16rem;
  height: 10rem;
display: flex;
justify-content: center;
align-items: center;
background-color: black;
 padding: 1rem;
  img{
    display: block;
    width: 100%;

    object-fit: cover;
  }
}


.buttons{
  margin-right: 4rem;
 button{
  margin-left: 4rem;
  transition: all .1s linear;
  &.active{
    background-color: green;
    color: white;
  }
 }
}
