<div class="image">
  <img
    src="https://www.thamesvalley.police.uk/SysSiteAssets/media/images/thames-valley/tvp_white_logo.png"
    alt=""
  />
</div>
<h1>report it to the bracknell forest police</h1>
<div class="LightBar">
  <div class="Light Blue RoundLeft"></div>
  <div class="Light Blue"></div>
  <div class="Light">
    <img class="corn"
      src="/assets/Badge_of_Thames_Valley_Police.svg.png"
      alt=""
    />
  </div>
  <div class="Light Red"></div>
  <div class="Light Red RoundRight"></div>
</div>

<div class="box">
  <app-main></app-main>
  <app-crime-info *ngIf="activeCrimeInfo"></app-crime-info>
</div>
<!-- https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB7bDpKj0xOgIHK0zPNMm3-57f2CKtzg2KNw&s -->
