<div #crimesNum class="movie_card" id="bright">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" [src]="image" />
      <h1>{{ name }}</h1>
      <h4>Date of birth: {{ date }}</h4>
      <span class="minutes">{{ crimesNumber }}</span>
      <p class="type">Crimes:  {{ crimesJoke }}</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        {{ crimesJokeDescriptions }}
      </p>
    </div>
  </div>
  <div class="blur_back bright_back"></div>
</div>
